body, html {
    position: relative;
    height: 100%;
    margin: 0;

    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Светлый фон для контраста */
    color: #333; /* Цвет текста */
}

.account {
    width: 4%;
    aspect-ratio: 1 / 1; /* Соотношение сторон 1:1 */

    position: absolute;
    top: 0;
    right: 0;
    background-color: lightblue;
    padding: 10px;
}

.search {
    height: 5%;
    width: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Центрируем элемент по горизонтали */
    background-color: lightgreen;
    padding: 10px;
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

.search-input {
    height: 100%;
    width: 90%;
}

.search-button {
    margin-left: 0.75%;
}

.container {
    border: 2px solid #ccc;
    background-color: red;
    height: 78%;
    width: 98%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    overflow: auto; /* Включаем прокрутку */

    flex-wrap: wrap; /* Позволяет переносить карточки на следующую строку */
    justify-content: space-between; /* Распределяет карточки по всей ширине */
}

.card {
    height: 20vh;

    flex: 0 0 calc(12% - 10px); /* Ограничивает количество карточек в строке до 4 */
    margin-bottom: 2%; /* Отступ снизу для карточек */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Учитывает отступы и границы в ширине */
}

#create-note {
    height: 25.5%;
    width: 98%;
    background-image: url('https://img.freepik.com/free-vector/plus-symbol-brush-stroke-typography-vector_53876-166821.jpg');
    background-size: cover; /* чтобы изображение заполнило элемент */
    background-position: center; /* центрирование изображения */
}

footer {
    height: 10%;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0; 
    background-color: blue;
    color: white;
}

footer a {
    color: orange;
}