body, html {
    position: relative;
    height: 100%;
    margin: 0;

    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Светлый фон для контраста */
    color: #333; /* Цвет текста */
}

.account {
    width: 4%;
    aspect-ratio: 1 / 1; /* Соотношение сторон 1:1 */

    position: absolute;
    top: 0;
    right: 0;
    background-color: lightblue;
    padding: 10px;
}

.search {
    height: 5%;
    width: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Центрируем элемент по горизонтали */
    background-color: lightgreen;
    padding: 10px;
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

.search-input {
    height: 100%;
    width: 90%;
}

.search-button {
    margin-left: 0.75%;
}

.container {
    border: 2px solid #ccc;
    background-color: red;
    height: 75vh;
    width: 98%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.rectangle {
    flex: 1 1 100px;
    margin: 5px;
    background-color: #3498db;
    height: 100px;
}


footer {
    height: 10%;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0; 
    background-color: blue;
    color: white;
}

footer a {
    color: orange;
}