# Django settings
SECRET_KEY=
DEBUG=

# PostgreSQL settings
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

# MinIO settings
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Redis settings
REDIS_PASSWORD=
REDIS_URL=
REDIS_REPLICA_URL=

# Meilisearch settings
MEILI_MASTER_KEY=

# PostgreSQL settings for centralized_id_generator
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Redis settings for centralized_id_generator
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=

# Other settings for centralized_id_generator
PROMETHEUS_URL=
TIME_RESERVE=
KEY_LENGTH=
MAX_ATTEMPTS=

# Test settings
TEST_POSTGRES_PASSWORD=
REDIS_MASTER_PASSWORD=
REDIS_REPLICA_PASSWORD=
API_BASE_URL=
TEST_URL=